<template name="post_submit">
  <div class="grid submit">
    <form class="grid-block form-horizontal">
      {{#constant}}
      <div class="control-group url-old">
        <label class="control-label">{{i18n "URL --- OLD ---- HIDE ME JASON"}}</label>
        <div class="controls"><input id="url" type="text" value="" /></div>
      </div>
      <div class="control-group">
        <label class="control-label">{{i18n "Project Title"}}</label>
        <div class="controls"><input id="title" type="text" value="" /><a href="#" class="get-title-link inline-link">{{i18n ""}}</a></div>
      </div>
      <div class="control-group">
        <label class="control-label">{{i18n "Description"}}</label>
        <div class="controls" id="editor"><textarea id="body" value="" class="input-xlarge"/></div>
      </div>
      <div class="control-group">
        <label class="control-label">{{i18n "Target Market"}}</label>
        <div class="controls"><input id="target_market" type="text" value="" /></div>
      </div>
      <div class="control-group">
        <label class="control-label">{{i18n "Category"}}</label>
        <div class="controls">
          {{#each categories}}
          <label class="radio inline">
            <input id="category_{{_id}}" type="checkbox" value="{{_id}}" name="category" /> {{name}}
          </label>
          {{/each}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">{{i18n "Logo"}}</label>
        <div class="controls"><input id="logo" type="text" value="" /></div>
      </div>
      <div class="control-group">
        <label class="control-label">{{i18n "Start Date"}}</label>
        <div class="controls date"><input id="start_date" type="text" value="{{startDate}}" /><input id="startdate_hidden" type="hidden" value="{{start_date}}" /></div>
      </div>
      <div class="control-group">
        <label class="control-label">{{i18n "Launch Date"}}</label>
        <div class="controls date"><input id="launch_date" type="text" value="{{launchDate}}" /><input id="launchdate_hidden" type="hidden" value="{{launch_date}}" /></div>
      </div>
      <div class="control-group">
        <label class="control-label">{{i18n "Budget"}}</label>
        <div class="controls"><input id="budget" type="text" value="" /></div>
      </div>
      <div class="control-group">
        <label class="control-label">{{i18n "URL"}}</label>
        <div class="controls"><input id="url_new" type="text" value="" /></div>
      </div>
      <div class="control-group">
        <label class="control-label">{{i18n "Twitter"}}</label>
        <div class="controls"><input id="twitter" type="text" value="" /></div>
      </div>
      <div class="control-group">
        <label class="control-label">{{i18n "Indiegogo"}}</label>
        <div class="controls"><input id="indiegogo" type="text" value="" /></div>
      </div>
      <div class="control-group">
        <label class="control-label">{{i18n "Kickstarter"}}</label>
        <div class="controls"><input id="kickstarter" type="text" value="" /></div>
      </div>
      {{/constant}}
      {{#if isAdmin}}
        {{#constant}}
        <div class="control-group">
          <label class="control-label">{{i18n "Sticky?"}}</label>
          <div class="controls">
            <input type="checkbox" name="sticky" id="sticky" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">{{i18n "Date"}}</label>
          <div class="controls"><input id="submitted" type="text" value="{{submittedDate}}" /><input id="submitted_hidden" type="hidden" value="{{submitted}}" /></div>
        </div>
        <div class="control-group">
          <label class="control-label">{{i18n "User"}}</label>
          <div class="controls">
            <select id="postUser">
              {{#each users}}
              <option {{#if isSelected}}selected{{/if}} value="{{_id}}">{{userName}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">{{i18n "Status"}}</label>
          <div class="controls">
            <label class="radio inline">
              <input id="status_pending" type="radio" value="1" name="status"/> {{i18n "Pending"}}
            </label>
            <label class="radio inline">
              <input id="status_approved" type="radio" value="2" name="status" checked /> {{i18n "Approved"}}
            </label>
            <label class="radio inline">
              <input id="status_rejected" type="radio" value="3" name="status"/> {{i18n "Rejected"}}
            </label>
          </div>
        </div>
        {{/constant}}
      {{/if}}
      <div class="form-actions">
        <input type="submit" value="{{i18n "Submit"}}" />
      </div>
    </form>
  </div>
</template>
