<template name="user_profile">
		{{#with user}}
	<div class="grid">

		<div class="header-user">
			<img class="user-avatar" src="{{avatarUrl}}"/>

			<div class="name">
				<label>{{i18n "Name:"}}</label>
				<div class='profile-name'>{{profile.name}}</div>
			</div>

			{{#if isAdmin}}
				<div class="name">
					<label>{{i18n "ID:"}}</label>
					<div class='profile-name'>{{_id}}</div>
				</div>
				<div class="member">
					<label>{{i18n "Member since"}}:</label>
					<div>{{createdAtFormatted}}</div>
				</div>
			{{/if}}

			<div class="role">
				<label>{{i18n "Role:"}}</label>
				<span>{{profile.role}}</span>
			</div>
			<div class="rockstar">
				Rockstart graphic
			</div>
		</div>

		<div class="bio-content">
			<div class="bio">
				<label>{{i18n "Bio:"}}</label>
				<div class="profile-bio content-block">{{profile.bio}}</span>
			</div>

			<div class="projects">
				<label>{{i18n "Project:"}}</label>
				<div class="profile-project content-block">{{profile.project}}</div>
			</div>
		</div>

		<div class="social">
				{{#if getTwitterName}}
					<div class="twitter">
						<label>Twitter: </label>
						<div><a href="http://twitter.com/{{getTwitterName}}">{{getTwitterName}}</a></div>
					</div>
				{{/if}}
				{{#if getGitHubName}}
					<div class="github">
						<label>{{i18n "GitHub"}}:</label>
						<div><a href="http://github.com/{{getGitHubName}}">{{getGitHubName}}</a></div>
					</div>
				{{/if}}
				{{#if getLinkedIn}}
					<div class="linkedin">
						<label>{{i18n "LinkedIn"}}:</label>
						<div><a href="http://www.linkedin.com/{{getLinkedIn}}">{{getLinkedIn}}</a></div>
					</div>
				{{/if}}
				{{#if getDribble}}
					<div class="dribble">
						<label>{{i18n "Dribble"}}:</label>
						<div><a href="http://dribble.com/{{getDribble}}">{{getDribble}}</a></div>
					</div>
				{{/if}}
				{{#if site}}
					<div class="site">
						<label>{{i18n "Site"}}:</label>
						<div><a href="{{profile.site}}">{{profile.site}}</a></div>
					</div>
				{{/if}}
			</div>

			<div class="user-profile grid-block">
				{{#if canEditProfile}}
					<a class="button inline" href="/users/{{slug}}/edit">{{i18n "Edit profile"}}</a>
				{{/if}}
				{{#if canInvite}}
					{{#if inviteCount}}
						<a class="button inline invite-link" href="#">{{i18n "Invite"}} ({{inviteCount}} {{i18n "left"}})</a>
					{{else}}
						<a class="button inline disabled" href="#">{{i18n "Invite (none left)"}}</a>
					{{/if}}
				{{/if}}
			</div>
		</div>
		{{/with}}

	</div>
</template>
