<template name="user_profile">
		{{#with user}}
	<div class="grid user-profile">

		<div class="header-user">
			<div class="bio-img">
				<img class="user-avatar" src="{{avatarUrl}}"/>
			</div>

			<div class="name">
				<div class='profile-name'>{{profile.name}}</div>
			</div>

			{{#if isAdmin}}
				<div class="id">
					<label>{{i18n "ID:"}}</label>
					<div class='profile-name'>{{_id}}</div>
				</div>
				<div class="member">
					<label>{{i18n "Member since"}}:</label>
					<div>{{createdAtFormatted}}</div>
				</div>
			{{/if}}

			<div class="role">
				<label>{{i18n "Role:"}}</label>
				<span>{{profile.role}}</span>
			</div>
			<div class="rockstar">
				<a href="/"><img src="/img/rs-apply.png"></a>
			</div>
		</div>

		<div class="bio-content">
			<div class="bio">
				<div class="profile-bio content-block">{{profile.bio}}</div>
			</div>

			<div class="projects">
				<div class="project-label">{{i18n "Projects:"}}</div>
				<div class="profile-project content-block">{{profile.project}}</div>
			</div>
		</div>

		<div class="social">
			<h3>Social:</h3>
				{{#if getTwitterName}}
						<a href="http://twitter.com/{{getTwitterName}}" class="twitter">{{getTwitterName}}</a>
				{{/if}}
				{{#if getGitHubName}}
						<a href="http://github.com/{{getGitHubName}}" class="github">{{getGitHubName}}</a>
				{{/if}}
				{{#if getLinkedIn}}
						<a href="http://www.linkedin.com/in/{{getLinkedIn}}" class="linkedin">{{getLinkedIn}}</a>
				{{/if}}
				{{#if getDribble}}
						<a href="http://dribble.com/{{getDribble}}" class="dribble">{{getDribble}}</a>
				{{/if}}
				{{#if site}}
					<div class="site">
						<a href="{{profile.site}}">{{profile.site}}</a>
					</div>
				{{/if}}
			</div>

			<div class="user-profile grid-block">
				{{#if canEditProfile}}
					<a class="button inline" href="/users/{{slug}}/edit">{{i18n "Edit profile"}}</a>
				{{/if}}
				{{#if canInvite}}
					{{#if inviteCount}}
						<a class="button inline invite-link" href="#">{{i18n "Invite"}} ({{inviteCount}} {{i18n "left"}})</a>
					{{else}}
						<a class="button inline disabled" href="#">{{i18n "Invite (none left)"}}</a>
					{{/if}}
				{{/if}}
			</div>
		</div>
		{{/with}}

	</div>
</template>
