<template name="nav">
  <header class="header grid">

    <a id="mobile-menu" href="#menu" class="mobile mobile-button menu"><i class="icon-menu"></i><span>{{i18n "Menu"}}</span></a>

    {{#if logo_url}}
      <h1 class="logo image" style="height:{{logo_height}}px; width:{{logo_width}}px; top:{{logo_top}}px; margin-left:{{logo_offset}}px;">
        <a href="/">
          <img src="{{logo_url}}" style="height:{{logo_height}}px;" alt="{{site_title}}"/>
        </a>
      </h1>
    {{else}}
      <h1 class="logo"><a href="/">{{site_title}}</a></h1>
    {{/if}}

    <ul class="nav site-nav desktop">



      {{#if canView}}
      <ul class="nav user-nav desktop">
        <li><a id="submit" class="submit button" href="/submit">{{i18n "Create Project"}}</a></li>
      </ul>
      {{/if}}



      <div class="auth-buttons">
        {{loginButtons align="right"}}
      </div>

    </ul>

  </header>

      <div class="grid">
       {{#if canView}}
        <ul role="menu" aria-labelledby="dLabel">
          <li><a class="new" href="/new">{{i18n "New"}}</a></li>
          <li><a class="best" href="/best">{{i18n "Best"}}</a></li>
<!--           <li><a class="digest" href="/digest">{{i18n "Digest"}}</a></li> -->
        </ul>
        {{/if}}

      {{#if isAdmin}}
      <ul>
        <li class="dropdown admin">
          <a class="admin" href="/">{{i18n "Administration"}}</a>
          <div class="dropdown-menu">
            <ul role="menu" aria-labelledby="dLabel">
              <li><a class="pending" href="/pending">{{i18n "Pending"}}</a></li>
              <li><a class="users" href="/all-users">{{i18n "Users"}}</a></li>
              <li><a class="settings" href="/settings">{{i18n "Settings"}}</a></li>
              <li><a class="categories" href="/categories">{{i18n "Categories"}}</a></li>
              <li><a class="logs" href="/logs">{{i18n "Logs"}}</a></li>
              <li><a class="categories" href="/toolbox">{{i18n "Toolbox"}}</a></li>
            </ul>
          </div>
        </li>
      </ul>
      {{/if}}

        {{> search}}
      </div>


</template>
